APP_NAME=Test Constructor API
DEBUG=false

DATABASE_URL=postgresql://wep_user:wep_password@localhost:5433/wep_education

SECRET_KEY=your-super-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=wep-media
MINIO_SECURE=false
MINIO_PUBLIC_URL=http://127.0.0.1:9000

BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]
